## Frequencia percentual ou Probabilidades Conjuntas

In [1]:
import pandas as pd
import numpy as np

In [2]:
d_param={'nomearq':'plan_cap04_judge.xlsx', # aplicavel quando importando de arquivo excel
         'nome_index':'Curso', 'lista_index': ['DF','DM','NF','NM','total']}                      # coluna_indice com descrições
#dfi=pd.read_excel(d_param.get('nomearq'))

In [3]:
# digitar colunas numericas do dataFrame
d = {'Contra':[2,8,4,12], 
     'a favor':[8,9,8,10],
    'sem op':[2,8,2,1]}
dfi = pd.DataFrame(data=d)

In [4]:
def Total_df(df,s_index, l_index):
    df['total']= df[df.columns].sum(axis=1)
    df = df.append(df.sum(), ignore_index=True)
    df[s_index]= l_index
    df.set_index(s_index, inplace=True)
    return df

In [5]:
def Total_col(df,s_index, l_index):
    df = df.append(df.sum(), ignore_index=True)
    df[s_index]= l_index
    df.set_index(s_index, inplace=True)
    return df

In [6]:
df = Total_df(dfi.copy(),d_param.get('nome_index'),d_param.get('lista_index'))
df.to_excel('plan_df.xlsx', engine='openpyxl')  # sem excel instalado
df

       Contra  a favor  sem op  total
Curso
DF          2        8       2     12
DM          8        9       8     25
NF          4        8       2     14
NM         12       10       1     23
total      26       35      13     74

In [7]:
# percentual total var. num - automático - indexar var. categoricas
df_perc = dfi.div(np.sum(dfi.sum().values))
df_perc = Total_df(df_perc.copy(),d_param.get('nome_index'),d_param.get('lista_index'))
df_perc.to_excel('plan_perc.xlsx', engine='openpyxl')
df_perc

         Contra   a favor    sem op     total
Curso
DF     0.027027  0.108108  0.027027  0.162162
DM     0.108108  0.121622  0.108108  0.337838
NF     0.054054  0.108108  0.027027  0.189189
NM     0.162162  0.135135  0.013514  0.310811
total  0.351351  0.472973  0.175676  1.000000

In [9]:
# percentual total da linha
df_ln = dfi.div(dfi.sum(1).astype(float), axis=0)
df_ln['total']= df_ln[df_ln.columns].sum(axis=1)
df_ln

          H         F         A  total
0  0.010733  0.338998  0.650268    1.0
1  0.049555  0.134689  0.815756    1.0
2  0.189474  0.210526  0.600000    1.0

In [13]:
# percentual total da coluna
df_col = dfi.div(dfi.sum().astype(float),axis=1) 
df_col = Total_col(df_col,d_param.get('nome_index'),d_param.get('lista_index'))
df_col.to_excel('plan_total_col.xlsx', engine='openpyxl')
df_col

             NE         E
Sexo
1      0.094474  0.266836
2      0.197861  0.434562
3      0.301248  0.138501
4      0.260250  0.115629
5      0.146168  0.044473
total  1.000000  1.000000